/*--------------------------------------------------------------
>>> About
--------------------------------------------------------------*/

.about {
	margin-bottom: 80px;
}

.about-content {
	.line {
		top: 48px;

		@include for-size(tablet-landscape-up) {
			width: 110%;

			left: 0;

			&.left {
				left: auto;
				right: 0;
			}
		}
	}

	@include for-size(tablet-landscape-up) {
		display: flex;
		
		justify-content: space-between;
	}
}

.about-info {

	>div {
		width: 100%;

		position: relative;
	}

	h2 {
		margin-left: 2px;
		margin-bottom: 2.3rem;
	}

	li {
		height: 36px;
		line-height: 36px;

		padding-left: 3px;

		color: rgba(white, 0.75);
		font-size: 0.8rem;

		border-bottom: 1px solid rgba(white, 0.1);

		&:last-child {
			border-bottom: 0;
		}
	}

	.info {
		margin-bottom: 80px;

		li {
			display: flex;

			span {
				width: 50%;

				display: inline-block;
				text-align: left;
			}
		}
	}

	.likes {
		margin-top: auto;
		margin-bottom: 80px;
		align-self: flex-end;

		@include for-size(tablet-landscape-up) {
			margin-bottom: auto;
		}

		li {
			padding-left: 28px;

			position: relative;

			&:before {
				content: '';

				position: absolute;
				top: 52%;
				left: 6px;

				transform: translateY(-50%) rotate(45deg);

				width: 6px;
				height: 6px;

				background: rgba(white, 0.6);;
			}
		}
	}

	@include for-size(tablet-landscape-up) {
		display: flex;
	
		flex-direction: column;
	
		min-width: 300px;
		max-width: 30vw;
	}
}


/*--------------------------------------------------------------
>>> Skillset
--------------------------------------------------------------*/

.about-skillset {
	width: 100%;
	
	position: relative;
	
	h2 {
		margin-bottom: 1.9rem;
	}

	@include for-size(tablet-landscape-up) {
		width: 352px;

		h2 {			
			margin-left: 66px;
		}

		.line {
			width: calc(110% - 57px);
		}
	}
}

.skillset-list {
	width: 110%;

	position: relative;
	left: -6%;

	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	list-style: none;

	@include for-size(tablet-landscape-up) {
		width: 100%;

		left: auto;
		right: -30px;
	}

	li {
		flex: 1 0 33.333%;

		padding: 20px 0;

		display: flex;
		flex-direction: column;

		text-align: center;

		opacity: 0.75;

		transition: opacity 0.3s;

		@include for-size(tablet-landscape-up) {
			flex: 1 0 33.333%;
		}
	
		svg {
			max-width: 40px;
			max-height: 40px;
			
			margin: 0 auto 12px auto;

			filter: drop-shadow(0px 0px 3px rgba(white, 0));

			transition: filter 0.3s;
		}

		span {
			font-size: 0.6rem;
		}

		&:hover {
			opacity: 1;

			svg {
				filter: drop-shadow(0px 0px 3px rgba(white, 0.25));
			}
		}
	}
}