/*--------------------------------------------------------------
>>> Buttons
--------------------------------------------------------------*/

.button {
	height: 36px;
	line-height: 36px;

	padding: 0 16px;

	position: relative;

	display: inline-block;
	
	font-family: 'Orbitron', sans-serif;
	color: rgba(#FFFFFF, 0.9);
	font-size: 0.6rem;
	letter-spacing: 0.12rem;

	text-decoration: none;
	text-transform: uppercase;

	background: transparent;

	border: 1px solid rgba(#FFFFFF, 0.1);
	border-right-width: 4px;
	border-left-width: 4px;
	border-radius: 1px;

	transform: skew(-22.5deg);
	transition: color 0.3s, border 0.3s, background 0.2s, box-shadow 0.3s;

	overflow: hidden;

	cursor: pointer;
	
	-webkit-tap-highlight-color: transparent;
		
	&:before {
		content: '';

		height: 155px;
		width: 50px;

		position: absolute;
		left: -75px;
		top: -50px;

		background: linear-gradient(transparent, #FFFFFF);

		opacity: 0.1;

		transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);

		z-index: -10;
	}

	@include for-size(tablet-landscape-up) {
		height: 36px;
		line-height: 36px;

		&:hover {
			color: #FFFFFF;
	
			background: rgba(#FFFFFF, 0.05);
			border-color: rgba(#FFFFFF, 0.15);
	
			@include box_shadow(1);
			
			&:before {
			  left: 120%;
			}
	
			svg {
				fill: #FFFFFF;
			}
		}
	}

	span {
		display: inline-block;

		white-space: nowrap;

		transform: skew(22.5deg);
	}

	svg {
		position: absolute;
		top: 50%;

		fill: rgba(#FFFFFF, 0.8);

		transform: translateY(-50%) skew(22.5deg);

		transition: fill 0.3s;
	}

	&.button-straight-left {
		border-left: 0;

		&:after {
			content: '';


		}
	}

	&.button-straight-right {

	}

	&.icon-button-left {
		padding-left: 48px !important;

		svg {			
			left: 14px;
		}
	}

	&.icon-button-right {
		padding-right: 48px !important;

		svg {			
			right: 18px;
		}		

		&.large {
			padding-right: 48px !important;
		}
	}

	&.large {
		height: 48px;
		line-height: 48px;

		padding: 0 20px;
	}

	&.active {
		color: #FFFFFF;

		background: rgba(#FFFFFF, 0.05);
		border-color: rgba(#FFFFFF, 0.15);

		pointer-events: none;
	}
}