/*--------------------------------------------------------------
>>> Contact
--------------------------------------------------------------*/
footer {
	overflow: hidden;
}
.contact-text {
	margin-bottom: 4rem;

	@include for-size(phone-landscape-only) {		
		max-width: 50vw;
	}

	@include for-size(tablet-landscape-up) {		
		max-width: 50vw;
	}
}

.contact-info {
	margin-bottom: 60px;

	ul {
		width: 100%;

		@include for-size(tablet-landscape-up) {
			max-width: 320px;
		}
	}

	li {		
		height: 36px;
		line-height: 36px;

		display: flex;
		align-content: flex-end;

		border-bottom: 1px solid rgba(white, 0.1);

		&:last-child {
			border-bottom: 0;
		}
		
		span {
			&:first-child {
				width: 40%;
			}

			&:last-child {
				width: 60%;
			}
		}
	}
}

.contact-form {
	width: 100%;

	max-width: 40vw;

	@include for-size(tablet-landscape-up) {
		min-width: 400px;
	}
}

/*--------------------------------------------------------------
>>> Animation
--------------------------------------------------------------*/

// Firefox smoothing fix: added rotate
@keyframes planetSpin {
	from {
		transform: translateX(-50%) rotate(0.001deg);
	}

	to {
		transform: translateX(0%) rotate(0.001deg);
	}
}

/*--------------------------------------------------------------
>>> Earth
--------------------------------------------------------------*/

// Portrait & Normal
$earthSizeVH: 80vh;

$earthOffScreenVH: 3;

$earthAtmosphereBiggerVH: $earthSizeVH / 8;
$earthAtmosphereSizeVH: $earthSizeVH + $earthAtmosphereBiggerVH;

$earthGlowBiggerVH: $earthSizeVH / 2;
$earthGlowSizeVH: $earthSizeVH + $earthGlowBiggerVH;

// Landscape Only
$earthSizeVW: 100vw;

$earthOffScreenVW: 3;

$earthAtmosphereBiggerVW: $earthSizeVW / 8;
$earthAtmosphereSizeVW: $earthSizeVW + $earthAtmosphereBiggerVW;

$earthGlowBiggerVW: $earthSizeVW / 2;
$earthGlowSizeVW: $earthSizeVW + $earthGlowBiggerVW;


.earth-container {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
}

.earth {
	width: 100%;
	height: 100%;

	position: absolute;
	bottom: 60px;
	right: 0;
		
	transform: scale(0.5);
	transform-origin: bottom right;

	@include for-size(tablet-landscape-up) {
		bottom: 0;

		transform: scale(1);
	}
}

.earth-inner {
	width: $earthSizeVH;
	height: $earthSizeVH;

	position: absolute;
	bottom: -$earthSizeVH / $earthOffScreenVH;
	right: -$earthSizeVH / $earthOffScreenVH;

	background: #4861b2;

	overflow: hidden;

	border-radius: 999px;

	transform: rotate(22.5deg);

	@include for-size(phone-landscape-only) {
		width: $earthSizeVW;
		height: $earthSizeVW;

		bottom: -$earthSizeVW / $earthOffScreenVW;
		right: -$earthSizeVW / $earthOffScreenVW;
	}

	&:after {
		content: '';

		width: 100%;
		height: 120%;

		position: absolute;
		top: -10%;
		left: 0;

		border-radius: 50%;
		box-shadow: inset -40vh 0px rgba(black, 0.1);

		filter: blur(20px);
	}
}

.earth-atmosphere {
	width: $earthAtmosphereSizeVH;
	height: $earthAtmosphereSizeVH;

	position: absolute;
	bottom: ( -$earthSizeVH / $earthOffScreenVH ) - ( $earthAtmosphereBiggerVH / 2 );
	right: ( -$earthSizeVH / $earthOffScreenVH ) - ( $earthAtmosphereBiggerVH / 2 );

	background: rgba(darken(#3d2448, 10%), 0.2);

	border-radius: 999px;

	@include for-size(phone-landscape-only) {
		width: $earthAtmosphereSizeVW;
		height: $earthAtmosphereSizeVW;
		
		bottom: ( -$earthSizeVW / $earthOffScreenVW ) - ( $earthAtmosphereBiggerVW / 2 );
		right: ( -$earthSizeVW / $earthOffScreenVW ) - ( $earthAtmosphereBiggerVW / 2 );
	}
}

.earth-glow {
	width: $earthGlowSizeVH;
	height: $earthGlowSizeVH;

	position: absolute;
	bottom: ( -$earthSizeVH / $earthOffScreenVH ) - ( $earthGlowBiggerVH / 2 );
	right: ( -$earthSizeVH / $earthOffScreenVH ) - ( $earthGlowBiggerVH / 2 );

	background: rgba(#ffffff, 0.005);

	border-radius: 999px;

	@include for-size(phone-landscape-only) {
		width: $earthGlowSizeVW;
		height: $earthGlowSizeVW;	
		
		bottom: ( -$earthSizeVW / $earthOffScreenVW ) - ( $earthGlowBiggerVW / 2 );
		right: ( -$earthSizeVW / $earthOffScreenVW ) - ( $earthGlowBiggerVW / 2 );
	}
}

.earth-land {
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	fill: #7dab3e;
	
	animation: planetSpin 70s infinite linear;
}

.earth-clouds {
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transform: translateX(0%);
	animation: planetSpin 55s infinite linear;

	fill: white;

	opacity: 0.9;

	filter: drop-shadow(1vh 2vh 0 rgba(black, 0.05));
}

/*--------------------------------------------------------------
>>> Moon
--------------------------------------------------------------*/

$moonSizeVH: 16vh;

$moonSizeVW: 20vw;

.moon-container {
	width: 100%;
	height: 100vh;

	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
}

.moon {
	width: 100%;
	height: 100%;

	position: absolute;
	bottom: 60px;
	right: 0;
		
	transform: scale(0.5);
	transform-origin: bottom right;

	@include for-size(tablet-landscape-up) {
		bottom: 0;

		transform: scale(1);
	}
}

.moon-inner {
	width: $moonSizeVH;
	height: $moonSizeVH;

	position: absolute;
	bottom: 54vh;
	right: 36vh;

	background: #cdd1d6;

	overflow: hidden;

	border-radius: 999px;

	box-shadow: 0px 0px 12vh rgba(white, 0.2);

	transform: rotate(22.5deg);

	@include for-size(phone-landscape-only) {
		width: $moonSizeVW;
		height: $moonSizeVW;

		bottom: 45vw;
		right: 45vw;
	}

	&:after {
		content: '';
		width: 100%;
		height: 120%;

		position: absolute;
		top: -10%;
		right: -15%;

		border-radius: 50%;
		box-shadow: inset -8vh 0px rgba(black, 0.1);

		filter: blur(7px);
	}
}

.moon-craters {
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	fill: rgba(black, 0.2);
	
	animation: planetSpin 70s infinite linear;
}