/*--------------------------------------------------------------
>>> Contact
--------------------------------------------------------------*/

.contact-info {
	margin-bottom: 80px;

	font-size: 0.8rem;
	color: rgba(white, 0.75);
}

.contact-form {
	width: 100%;

	max-width: 40vw;

	@include for-size(tablet-landscape-up) {
		min-width: 400px;
	}
}

/*--------------------------------------------------------------
>>> Animation
--------------------------------------------------------------*/

// Firefox smoothing fix: added rotate
@keyframes planetSpin {
	from {
		transform: translateX(-50%) rotate(0.001deg);
	}

	to {
		transform: translateX(0%) rotate(0.001deg);
	}
}

/*--------------------------------------------------------------
>>> Earth
--------------------------------------------------------------*/

$earthSize: 80vh;

$earthOffScreen: 3;

$earthAtmosphereBigger: $earthSize / 8;
$earthAtmosphereSize: $earthSize + $earthAtmosphereBigger;

$earthGlowBigger: $earthSize / 2;
$earthGlowSize: $earthSize + $earthGlowBigger;

.earth-container {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
}

.earth {
	width: 100%;
	height: 100%;

	position: absolute;
	bottom: 60px;
	right: 0;
		
	transform: scale(0.5);
	transform-origin: bottom right;

	@include for-size(tablet-landscape-up) {
		bottom: 0;

		transform: scale(1);
	}
}

.earth-inner {
	width: $earthSize;
	height: $earthSize;

	position: absolute;
	bottom: -$earthSize / $earthOffScreen;
	right: -$earthSize / $earthOffScreen;

	background: #4861b2;

	overflow: hidden;

	border-radius: 999px;

	transform: rotate(23.5deg);

	&:after {
		content: '';

		width: 100%;
		height: 120%;

		position: absolute;
		top: -10%;
		left: 0;

		border-radius: 50%;
		box-shadow: inset -40vh 0px rgba(black, 0.1);

		filter: blur(20px);
	}
}

.earth-atmosphere {
	width: $earthAtmosphereSize;
	height: $earthAtmosphereSize;

	position: absolute;
	bottom: ( -$earthSize / $earthOffScreen ) - ( $earthAtmosphereBigger / 2 );
	right: ( -$earthSize / $earthOffScreen ) - ( $earthAtmosphereBigger / 2 );

	background: rgba(darken(#3d2448, 10%), 0.2);

	border-radius: 999px;
}

.earth-glow {
	width: $earthGlowSize;
	height: $earthGlowSize;

	position: absolute;
	bottom: ( -$earthSize / $earthOffScreen ) - ( $earthGlowBigger / 2 );
	right: ( -$earthSize / $earthOffScreen ) - ( $earthGlowBigger / 2 );

	background: rgba(#ffffff, 0.005);

	border-radius: 999px;
}

.earth-land {
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	fill: #7dab3e;
	
	animation: planetSpin 70s infinite linear;
}

.earth-clouds {
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transform: translateX(0%);
	animation: planetSpin 55s infinite linear;

	fill: white;

	opacity: 0.9;

	filter: drop-shadow(1vh 2vh 0 rgba(black, 0.05));
}

/*--------------------------------------------------------------
>>> Moon
--------------------------------------------------------------*/

$moonSize: 16vh;

.moon-container {
	width: 100%;
	height: 100vh;

	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
}

.moon-inner {
	width: $moonSize;
	height: $moonSize;

	position: absolute;
	bottom: 54vh;
	right: 36vh;

	background: #cdd1d6;

	overflow: hidden;

	border-radius: 999px;

	box-shadow: 0px 0px 12vh rgba(white, 0.2);

	transform: rotate(23.5deg);

	&:after {
		content: '';
		width: 100%;
		height: 120%;

		position: absolute;
		top: -10%;
		right: -15%;

		border-radius: 50%;
		box-shadow: inset -8vh 0px rgba(black, 0.1);

		filter: blur(7px);
	}
}

.moon-craters {
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	fill: rgba(black, 0.2);
	
	animation: planetSpin 70s infinite linear;
}