@keyframes planetSpin {
	from {
		transform: translateX(-50%);
	}

	to {
		transform: translateX(0%);
	}
}

/*--------------------------------------------------------------
>>> Earth
--------------------------------------------------------------*/

$earthSize: 80vh;

$earthOffScreen: 3;

$earthAtmosphereBigger: $earthSize / 8;
$earthAtmosphereSize: $earthSize + $earthAtmosphereBigger;

$earthGlowBigger: $earthSize / 2;
$earthGlowSize: $earthSize + $earthGlowBigger;

.earth-container {
	width: 100%;
	height: 100vh;

	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
}

.earth-inner {
	width: $earthSize;
	height: $earthSize;

	position: absolute;
	bottom: -$earthSize / $earthOffScreen;
	right: -$earthSize / $earthOffScreen;

	background: #358bb6;

	overflow: hidden;

	border-radius: 999px;

	&:after {
		content: '';

		width: 50%;
		height: 150%;

		position: absolute;
		top: 0;
		right: 0;

		background: rgba(black, 0.1);
	}
}

.earth-atmosphere {
	width: $earthAtmosphereSize;
	height: $earthAtmosphereSize;

	position: absolute;
	bottom: ( -$earthSize / $earthOffScreen ) - ( $earthAtmosphereBigger / 2 );
	right: ( -$earthSize / $earthOffScreen ) - ( $earthAtmosphereBigger / 2 );

	background: rgba(darken(#3d2448, 10%), 0.2);

	border-radius: 999px;
}

.earth-glow {
	width: $earthGlowSize;
	height: $earthGlowSize;

	position: absolute;
	bottom: ( -$earthSize / $earthOffScreen ) - ( $earthGlowBigger / 2 );
	right: ( -$earthSize / $earthOffScreen ) - ( $earthGlowBigger / 2 );

	background: rgba(#ffffff, 0.005);

	border-radius: 999px;
}

.earth-land {
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	fill: #73d43e;
	
	animation: planetSpin 70s infinite linear;
}

.earth-clouds {
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transform: translateX(0%);
	animation: planetSpin 55s infinite linear;

	fill: white;

	opacity: 0.9;

	filter: drop-shadow(1vh 2vh 0 rgba(black, 0.05));
}