/*--------------------------------------------------------------
>>> Header
--------------------------------------------------------------*/

header {
	width: 100%;
	height: 60px;

	padding: 0 24px;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;

	z-index: 1000;

	background: transparent;
}

/*--------------------------------------------------------------
>>> Header Scrolled
--------------------------------------------------------------*/

body.scrolled {
	header {
		background: $spaceDark;
	}
}

/*--------------------------------------------------------------
>>> Logo
--------------------------------------------------------------*/

.logo {
	padding-top: 4px;
}

/*--------------------------------------------------------------
>>> Navigation
--------------------------------------------------------------*/

.navigation {
	display: flex;
	justify-content: space-between;

	.button {
		margin-left: 8px;
	}
}