/*--------------------------------------------------------------
>>> Header
--------------------------------------------------------------*/

header {
	width: 100%;

	padding: 10px 0;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;

	z-index: 1000;

	background: $spaceDark;

	@include for-size(tablet-landscape-up) {
		height: 60px;

		padding: 0 24px;

		top: 0;

		background: transparent;	
	}
}

/*--------------------------------------------------------------
>>> Header Scrolled
--------------------------------------------------------------*/

body.scrolled {
	header {
		background: $spaceDark;
	}
}

/*--------------------------------------------------------------
>>> Logo
--------------------------------------------------------------*/

.logo {
	display: none;

	@include for-size(tablet-landscape-up) {
		padding-top: 4px;	

		display: block;
	}
}

/*--------------------------------------------------------------
>>> Navigation
--------------------------------------------------------------*/

.navigation {
	height: 100%;
	width: 100%;

	display: flex;

	justify-content: space-between;

	@include for-size(tablet-landscape-up) {
		width: auto;

		padding: 12px 0;
		position: relative;

		right: -17px;
	}

	> .button {
		width: 18.5%;
		margin: auto;
	}

	.button {
		height: 44px;

		margin: 0 2px;

		@include for-size(tablet-landscape-up) {
			height: 36px;
			width: auto !important;

			margin: 0 8px 0 0;
		}
		
		svg {
			position: absolute;
			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%) skew(22.5deg);

			@include for-size(tablet-landscape-up) {
				display: none;
			}
		}

		span {
			display: none;
			
			@include for-size(tablet-landscape-up) {
				display: inline-block;
			}
		}
	}

	> .button-straight-left-container,
	> .button-straight-right-container {
		height: 44px;
		width: 20%;

		margin: auto;

		position: relative;

		overflow: hidden;

		@include for-size(tablet-landscape-up) {
			height: 36px;
			width: auto;

			margin: 0 8px 0 0;

			overflow: visible;
		}

		&:before {
			content: '';

			width: 3px;
			height: 42px;

			background: rgba(white, 0.15);

			position: absolute;
			top: 1px;

			@include for-size(tablet-landscape-up) {
				display: none;
			}
		}

		.button {
			width: calc(110% - 3px);
			height: 100%;

			margin: 0;
			
			position: absolute;
			top: 0;

			@include for-size(tablet-landscape-up) {
				width: 100%;

				position: static;
			}
		}
	}

	> .button-straight-left-container {
		right: -8px;

		@include for-size(tablet-landscape-up) {
			right: auto;
		}

		&:before {			
			left: 0;
		}

		.button {
			right: 9px;

			@include for-size(tablet-landscape-up) {
				right: auto;
			}

			svg {
				transform: translate(-30%, -50%) skew(22.5deg);
			}
		}
	}

	> .button-straight-right-container {
		left: -9px;

		@include for-size(tablet-landscape-up) {
			overflow: hidden;
		}

		&:before {			
			right: 0;

			@include for-size(tablet-landscape-up) {
				display: block;
			}
		}

		.button {
			left: 9px;

			@include for-size(tablet-landscape-up) {
				position: relative;
			}

			svg {
				transform: translate(-70%, -50%) skew(22.5deg);

				@include for-size(tablet-landscape-up) {
					transform: translate(-75%, -50%) skew(22.5deg);
				}
			}
		}
	}
}

#github-button {
	@include for-size(tablet-landscape-up) {
		width: 70px !important;
		border-right: 0;
	}

	svg {
		display: block !important;
	}
}