header {
	width: 100%;
	height: 60px;

	padding: 0 24px;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;

	z-index: 1000;

	&:before {
		content: '';

		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		
		background: linear-gradient(to right, rgba(#FFFFFF, 0.05), rgba($spaceDark, 0.1));

		border-bottom: 1px solid rgba(#FFFFFF, 0.1);

		opacity: 0;

		transition: opacity 0.3s;
		z-index: -1;
	}
}

.logo {

}

.navigation {
	display: flex;
	justify-content: space-between;

	.button {
		margin-left: 8px;
	}
}



body.scrolled {
	header {
		&:before {
			width: 100%;
			opacity: 1;
		}
	}
}