/*--------------------------------------------------------------
>>> Introduction
--------------------------------------------------------------*/

.home {
	.section-wrap {
		margin: auto;
	}
}


.introduction {
	height: 100%;
	width: 100%;

	display: flex;
	align-items: center;

	z-index: 1;

	h1 {
		margin-top: 0;
		text-transform: none;
	}

	> div {
		padding-bottom: 20vh;

		.button {
			float: right;
			margin-right: 34px;
		}
	}
}

