/*--------------------------------------------------------------
>>> Introduction
--------------------------------------------------------------*/

.introduction {
	height: 100%;
	width: 50%;

	display: flex;
	align-items: center;

	position: absolute;
	top: 0;

	z-index: 1;

	h1 {
		text-transform: none;
	}

	> div {
		padding-bottom: 20vh;

		.button {
			float: right;
			margin-right: 34px;
		}
	}
}

