/*--------------------------------------------------------------
>>> Island
--------------------------------------------------------------*/

.island-container {
	width: 100%;
	height: 100vh;

	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;

	pointer-events: none;
}

.island-main {
	height: 66vh;

	position: absolute;
	bottom: 6vh;
	right: 3vw;

	animation: islandMove 8s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
	animation-delay: -.5s;	
}

#crystal1 {
	animation: crystalMove 8s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#crystal2 {
	animation: crystalMove 8s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
	animation-delay: -1s;
}

// Firefox smoothing fix: added rotate
@keyframes islandMove {
	0% {
		transform: translateY(0) rotate(0.001deg);
	}

	50% {
		transform: translateY(-10px) rotate(0.001deg);
	}

	100% {
		transform: translateY(0) rotate(0.001deg);
	}
}

// Firefox smoothing fix: added rotate
@keyframes crystalMove {
	0% {
		transform: translateY(0) rotate(0.001deg);
	}

	50% {
		transform: translateY(-60px) rotate(0.001deg);
	}

	100% {
		transform: translateY(0) rotate(0.001deg);
	}
}