body {
	font-family: 'Orbitron', sans-serif;
	font-size: 16px;

	background: $spaceLight;
	background: linear-gradient($spaceDark, $spaceLight 200vh);
}

.svg-icon {
	fill: white;
}

.text {
	color: rgba(#FFFFFF, 0.9);

	h1 {
		font-size: 2.4rem;
		line-height: 2.8rem;

		margin-bottom: 1.4rem;

		span {
			color: $textAccent;
			text-shadow: 0px 0px 15px rgba($textAccent, 0.3);
		}

		small {
			font-size: 1.8rem;
		}
	}
}

#particles-js {
	height: 150vh;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	z-index: -1;

	background: transparent;

	canvas {
		width: 100%;
		height: 100%;

		background: transparent;
	}
}

main {
	min-height: 2000px;
}

.page-section {
	height: 100vh;
	width: 100%;

	position: relative;
}

.home {
	padding-top: 60px;
}

.introduction {
	height: 100%;
	width: 50%;

	display: flex;
	align-items: center;

	position: absolute;
	top: 0;
	left: 12%;

	.text {
		padding-bottom: 20vh;

		.button {
			float: right;
			margin-right: 34px;
		}
	}
}

.island {
	position: absolute;
	bottom: 0;
	right: 8%;

	img,
	svg {
		width: 50vw;
		max-height: 80vh;
	}
}

.gradient-bottom {
	width: 100%;
	height: 35vh;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	
	background: linear-gradient(transparent, $gradientStart 35vh);
}


