body {
	font-family: 'Orbitron', sans-serif;
	font-size: 16px;

	color: rgba(white, 0.9);

	text-shadow: 2px 2px 0px rgba(black, 0.2);

	background: $spaceLight;
	background: linear-gradient($spaceDark, $spaceLight 200vh);
}

.svg-icon {
	fill: white;
}

.separator {
	margin: 0 12px;
}

#particles-js {
	height: 500vh;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	z-index: -1;

	background: transparent;

	canvas {
		width: 100%;
		height: 100%;

		background: transparent;
	}

	&:after {
		content: '';

		height: 50vh;
		width: 100%;

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;


		background: linear-gradient(transparent, $spaceLight);
	}
}

main {
	min-height: 2000px;
}

.page-section {
	min-height: 100vh;
	width: 100%;

	padding: 0 8%;
	padding-top: 60px !important;

	position: relative;

	h1 {
		color: white;
		font-size: 2.4rem;
		text-transform: uppercase;
		position: relative;

		margin: 4rem 0;
	}
}

.introduction {
	height: 100%;
	width: 50%;

	display: flex;
	align-items: center;

	position: absolute;
	top: 0;
	left: 12%;

	z-index: 1;

	h1 {
		text-transform: none;
	}

	> div {
		padding-bottom: 20vh;

		.button {
			float: right;
			margin-right: 34px;
		}
	}
}

.skills-categories {
	width: 100%;

	display: flex;
	align-content: space-between;
}

.skill-category {
	flex: 0 50%;

	max-width: 700px;

	margin-left: auto;
	margin-right: auto;
	
	letter-spacing: 1.5px;

	&:nth-child(odd) {
		padding-right: 15vw;
	}

	&:nth-child(even) {
		padding-left: 15vw;
	}

	h2 {
		font-size: 2rem;
		margin-bottom: 1.6rem;
	}
}

.skill-container {
	margin-bottom: 2.4rem;

	h3 {
		margin-bottom: 0.8rem;

		position: relative;

		font-size: 1rem;
		color: white;

		small {
			position: absolute;
			top: 50%;
			right: 0;

			transform: translateY(-50%);

			color: rgba(white, 0.75);

			font-size: 0.8rem;
		}
	}
}

.skill-bar {
	width: 100%;
	height: 24px;

	border: 1px solid rgba(white, 0.1);
	border-left-width: 4px;
	border-right-width: 4px;

	transform: skew(-20deg);

	.percent {
		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%) skew(20deg);

		font-size: 0.8rem;
	}

	.level {
		font-size: 0.6rem;
	}
}


.portfolio {
	padding-left: 0;
	padding-right: 0;

	h1 {
		padding: 0 8%;
	}
}

.project {
	width: 100%;
	margin-bottom: 120px;

	display: flex;
	align-items: top;

	position: relative;

	overflow: hidden;

	&:nth-child(odd) {
		padding: 0 8% 0 4%;
	}

	&:nth-child(even) {
		padding: 0 4% 0 8%;
	}

	> div:first-child {
		margin-right: 5vw;
	}
}

.project-info {
	position: relative;

	font-size: 0.8rem;

	h2 {
		margin-top: 0.4rem;
		margin-bottom: 2.4rem !important;
	}
}

.project-description {
	margin-bottom: 2rem;

	color: rgba(white, 0.75);
}

.project-footer {
	width: 100%;

	display: flex;
	align-content: space-between;
	align-items: flex-end;

	.project-links {
		.button {
			margin-right: 24px;
		}
	}

	.project-tech {
		margin-right: auto;

		h4 {			
			margin-bottom: 1rem;

			letter-spacing: 1.5px;
			color: white;
			font-size: 0.6rem;
		}

		.logos {
			display: flex;
			align-items: flex-end;

			svg {
				display: inline-block;
				
				margin-right: 12px;
	
				opacity: 0.8;
	
				transition: opacity 0.3s;
	
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.line {
	width: calc(88% - 200px - 144px);
	height: 2px;

	position: absolute;
	top: 55px;

	background: white;

	opacity: 0.1;

	pointer-events: none;

	&:before {
		content: '';
		width: 180px;
		height: 2px;

		position: absolute;
		top: 0;
		
		background: white;
	}

	&.left {
		right: 8%;

		&:before {			
			left: -180px;

			transform: rotate(-45deg);
			transform-origin: top right;
		}
	}

	&.right {
		left: 8%;


		&:before {			
			right: -180px;

			transform: rotate(45deg);
			transform-origin: top left;
		}
	}
}

#astronaut {
	width: 200px;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	animation: rotateAstro 30s linear infinite;
}

@keyframes rotateAstro {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	25% {
		transform: translate(-50%, -50%) rotate(35deg);
	}

	75% {
		transform: translate(-50%, -50%) rotate(-35deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
}