body {
	font-family: 'Orbitron', sans-serif;
	font-size: 16px;

	color: rgba(white, 0.9);

	text-shadow: 2px 2px 0px rgba(black, 0.2);

	background: $spaceLight;
	background: linear-gradient($spaceDark, $spaceLight 200vh);
}

.svg-icon {
	fill: white;
}

.separator {
	margin: 0 12px;
}

#particles-js {
	height: 500vh;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	z-index: -1;

	background: transparent;

	canvas {
		width: 100%;
		height: 100%;

		background: transparent;
	}

	&:after {
		content: '';

		height: 50vh;
		width: 100%;

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;

		background: linear-gradient(transparent, $spaceLight);
	}
}

main {
	min-height: 2000px;
}

.page-section {
	min-height: 100vh;
	width: 100%;

	padding: 0 8%;
	padding-top: 60px !important;

	position: relative;

	h1 {
		color: white;
		font-size: 2.4rem;
		text-transform: uppercase;
		position: relative;

		margin: 4rem 0;

		&:before {
			content: '';

			width: 16px;
			height: 28px;

			display: inline-block;

			border: 4px solid white;
			border-top: 0;
			border-bottom: 0;

			transform: skew(-22.5deg);
		}

		&:before {
			margin-right: 16px;
		}
	}
}

.introduction {
	height: 100%;
	width: 50%;

	display: flex;
	align-items: center;

	position: absolute;
	top: 0;
	left: 12%;

	z-index: 1;

	h1 {
		text-transform: none;

		&:before,
		&:after {
			display: none;
		}
	}

	> div {
		padding-bottom: 20vh;

		.button {
			float: right;
			margin-right: 34px;
		}
	}
}

.skills-categories {
	width: 100%;

	display: flex;
	align-content: space-between;
}

.skill-category {
	flex: 0 50%;

	max-width: 700px;

	margin-left: auto;
	margin-right: auto;
	
	letter-spacing: 1.5px;

	&:nth-child(odd) {
		padding-right: 15vw;
	}

	&:nth-child(even) {
		padding-left: 15vw;
	}

	h2 {
		font-size: 2rem;
		margin-bottom: 1.6rem;
	}
}

.skill-container {
	margin-bottom: 2.4rem;

	h3 {
		margin-bottom: 0.8rem;

		position: relative;

		font-size: 1rem;
		color: white;

		small {
			position: absolute;
			top: 50%;
			right: 0;

			transform: translateY(-50%);

			color: rgba(white, 0.75);

			font-size: 0.8rem;
		}
	}
}

.skill-bar {
	width: 100%;
	height: 24px;

	border: 1px solid rgba(white, 0.1);
	border-left-width: 4px;
	border-right-width: 4px;

	transform: skew(-20deg);

	.percent {
		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%) skew(20deg);

		font-size: 0.8rem;
	}

	.level {
		font-size: 0.6rem;
	}
}


.portfolio {
	padding-left: 0;
	padding-right: 0;

	h1 {
		padding: 0 8%;
	}
}

.project {
	width: 100%;
	margin-bottom: 120px;

	display: flex;
	align-items: top;

	position: relative;

	overflow: hidden;

	&:nth-child(odd) {
		padding: 0 8% 0 4%;
	}

	&:nth-child(even) {
		padding: 0 4% 0 8%;
	}
	
	> div:first-child {
		margin-right: 5vw;
	}
}

.project-info {
	position: relative;

	font-size: 0.8rem;

	h2 {
		font-size: 1.8rem !important;

		margin-top: 0.4rem;
		margin-bottom: 2.4rem !important;
	}
}

.project-description {
	margin-bottom: 2rem;

	color: rgba(white, 0.75);
}

.project-footer {
	width: 100%;

	display: flex;
	align-content: space-between;
	align-items: flex-end;

	.project-links {
		.button {
			margin-right: 24px;
		}
	}

	.project-tech {
		margin-right: auto;

		h4 {			
			margin-bottom: 1rem;

			letter-spacing: 1.5px;
			color: white;
			font-size: 0.6rem;
		}

		.logos {
			display: flex;
			align-items: flex-end;

			svg {
				display: inline-block;
				
				margin-right: 12px;
	
				opacity: 0.8;
	
				transition: opacity 0.3s;
	
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.line {
	width: calc(88% - 200px - 144px);
	height: 2px;

	position: absolute;
	top: 55px;

	background: white;

	opacity: 0.1;

	pointer-events: none;

	&:before {
		content: '';
		width: 180px;
		height: 2px;

		position: absolute;
		top: 0;
		
		background: white;
	}

	&.left {
		right: 8%;

		&:before {			
			left: -180px;

			transform: rotate(-45deg);
			transform-origin: top right;
		}
	}

	&.right {
		left: 8%;


		&:before {			
			right: -180px;

			transform: rotate(45deg);
			transform-origin: top left;
		}
	}
}

#astronaut {
	width: 200px;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	animation: rotateAstro 30s linear infinite;
}

@keyframes rotateAstro {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	25% {
		transform: translate(-50%, -50%) rotate(35deg);
	}

	75% {
		transform: translate(-50%, -50%) rotate(-35deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

.purple-planet {
	width: 100%;
	height: 160vh;

	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;

	.sun-inner {
		width: 80vh;
		height: 80vh;

		position: absolute;
		bottom: 40vh;
		right: -20vh;

		filter: drop-shadow(0px 0px 10vh rgba(#FE004D, 0.6));

		animation: sunGlow1 3s infinite;
	}

	.sun-border {
		width: calc(80vh + 40px);
		height: calc(80vh + 40px);

		border-radius: 9999px;

		position: absolute;
		bottom: calc(40vh - 20px);
		right: calc(-20vh - 20px);

		background: rgb(156, 0, 47);

		filter: drop-shadow(0px 0px 5vh rgba(#FE004D, 0.3));
	}

	.sun-shape-1 {
		width: calc(80vh + 12vh);
		height: calc(80vh + 12vh);

		position: absolute;
		bottom: calc(40vh - 6vh);
		right: calc(-20vh - 6vh);

		opacity: 0.05;

		fill: red !important;

		animation: sunAnim1 40s linear infinite;

		filter: drop-shadow(0px 0px 5vh rgba(#FE004D, 1));
	}

	.sun-shape-2 {
		width: calc(80vh + 24vh);
		height: calc(80vh + 24vh);

		position: absolute;
		bottom: calc(40vh - 12vh);
		right: calc(-20vh - 12vh);

		opacity: 0.04;

		fill: white;

		filter: drop-shadow(0px 0px 5vh rgba(#FE004D, 1));

		transform: rotate(40deg);
		animation: sunAnim2 55s linear infinite;
	}

	.sun-shape-3 {		
		width: calc(80vh + 36vh);
		height: calc(80vh + 36vh);

		position: absolute;
		bottom: calc(40vh - 18vh);
		right: calc(-20vh - 18vh);

		opacity: 0.02;

		fill: white;

		transform: rotate(70deg);
		animation: sunAnim3 70s linear infinite;
	}
}

@keyframes sunGlow1 {
	0% {
		filter: drop-shadow(0px 0px 10vh rgba(#FE004D, 0.6));
	}

	50% {
		filter: drop-shadow(0px 0px 15vh rgba(#FE004D, 0.4));
	}

	100% {
		filter: drop-shadow(0px 0px 10vh rgba(#FE004D, 0.6));
	}
}

@keyframes sunAnim1 {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes sunAnim2 {
	from {
		transform: rotate(40deg);
	}

	to {
		transform: rotate(400deg);
	}
}

@keyframes sunAnim3 {
	from {
		transform: rotate(70deg);
	}

	to {
		transform: rotate(430deg);
	}
}