/*--------------------------------------------------------------
>>> Meteors
--------------------------------------------------------------*/

$meteorSpeed: 2.4s;

html.mobile {
	.meteor-1,
	.meteor-3,
	.meteor-5 {
		display: none;
	}
}

.meteors {
	width: 100%;
	height: 300vh;

	position: absolute;

	overflow: hidden;

	opacity: 0.6;

	z-index: -1;

	&.front {
		z-index: 0;
	}
}

.island-meteor {
	width: 1vh;
	height: 1vh;

	position: absolute;

	opacity: 0;

	&:after {
		content: '';

		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		
		border-radius: 999px;
		
		transform: rotate(-30deg) scaleX(1) scaleY(3);

		background: linear-gradient(transparent, white);
		box-shadow: 0 0 20px white;
	}

	&:before {
		content: '';

		width: 140%;
		height: 200vh;

		position: absolute;
		bottom: 0;

		background: linear-gradient(white, #60cdff);

		box-shadow: 0 0 100px #60cdff;

		border-radius: 0px 0px 999px 999px;

		transform: rotate(-30deg);
		
		transform-origin: 50% 99.94%;

		animation-delay: 5s;
	}		

	&.fall {
		animation: meteorFall $meteorSpeed ease-out forwards;

		&:before {
			animation: meteorFallTail $meteorSpeed ease-out forwards;
		}
	}

	&.meteor-1 {
		top: 150vh;
		right: -25vw;
	}

	&.meteor-2 {
		top: 200vh;
		right: -30vw;
	}

	&.meteor-3 {
		top: 100vh;
		right: -30vw;
	}

	&.meteor-4 {
		top: 300vh;
		right: -40vw;

		&.fall {
			animation-name: meteorFall2;
			animation-duration: $meteorSpeed * 1.5;
		}
	}

	&.meteor-5 {
		top: 400vh;
		right: -45vw;

		&.fall {
			animation-name: meteorFall3;
			animation-duration: $meteorSpeed * 2;
		}
	}
}

@keyframes meteorFall {
	0% {
		transform: translate(-116vh, -200vh);
		opacity: 1;
	}

	100% {
		transform: translate(0, 0);
		opacity: 0;
	}
}

@keyframes meteorFall2 {
	0% {
		transform: translate(-174vh, -300vh);
		opacity: 1;
	}

	100% {
		transform: translate(0, 0);
		opacity: 0;
	}
}

@keyframes meteorFall3 {
	0% {
		transform: translate(-232vh, -400vh);
		opacity: 1;
	}

	100% {
		transform: translate(0, 0);
		opacity: 0;
	}
}

@keyframes meteorFallTail {
	0% {
		opacity: 1;
		transform: rotate(-30deg) scaleX(1);
	}

	100% {
		opacity: 0;
		transform: rotate(-30deg) scaleX(0);
	}
}