$spaceDark: #1e253f;
$spaceLight: #5d2452;

$gradientStart: #3d2448;

$accent: #59c2e0;

@import 'reset.scss';

@import 'main.scss';

@import 'buttons.scss';

@import 'island.scss';
@import 'waterfall.scss';