/*--------------------------------------------------------------
>>> Colours
--------------------------------------------------------------*/

$spaceDark: #1e253f;
$spaceLight: #3d2448;

$accent: #ff417b;
$textAccent: $accent;
$link: $textAccent;

$portalColor: #d83075;


/*--------------------------------------------------------------
>>> Importants
--------------------------------------------------------------*/

@import 'mixins.scss';

@import 'gradients.scss';


/*--------------------------------------------------------------
>>> Globals
--------------------------------------------------------------*/

@import 'reset.scss';

@import 'main.scss';

@import 'text.scss';

@import 'header.scss';

@import 'forms.scss';

@import 'buttons.scss';


/*--------------------------------------------------------------
>>> Sections
--------------------------------------------------------------*/

@import 'introduction.scss';

@import 'skills.scss';

@import 'portfolio.scss';

@import 'about.scss';

@import 'contact.scss';


/*--------------------------------------------------------------
>>> Illustrations
--------------------------------------------------------------*/

@import 'island.scss';

@import 'earth.scss';

@import 'moon.scss';