/*--------------------------------------------------------------
>>> Text Styles
--------------------------------------------------------------*/

.text {
	color: rgba(#FFFFFF, 0.9);

	h1, h2, h3 {

		.highlight {
			color: $textAccent;
			text-shadow: 0px 0px 15px rgba($textAccent, 0.3);
		}

		.subtitle {
			position: relative;
			font-size: 1.8rem;
		}

		small {
			font-size: 1.2rem;
			top: -5px;
			position: relative;
		}

		div {
			font-size: 1.2rem;

			padding-right: 16px;
		}
	}

	h1 {
		font-size: 2.8rem;
		line-height: 3rem;

		margin-bottom: 1.4rem;
	}

	h2 {
		font-size: 2.0rem;
		line-height: 2.4rem;

		margin-bottom: 1rem;
	}

	h3 {
		font-size: 1.8rem;
		line-height: 2.2rem;

		margin-bottom: 0.8rem;
	}

	p {
		line-height: 1.5rem;
		letter-spacing: 1.5px;

		+ p {
			margin-top: 1.2rem;
		}
	}

	a:not(.button) {
		color: $link;

		transition: text-shadow 0.3s, filter 0.3s;

		&:hover,
		&:focus {
			filter: hue-rotate(-30deg);
			text-shadow: 0px 0px 2px rgba($link, 0.6);
		}
	}
}