/*--------------------------------------------------------------
>>> Websites
--------------------------------------------------------------*/

.websites {
}

.website {
	width: 100%;
	margin-bottom: 120px;

	display: block;

	position: relative;

	@include for-size(tablet-landscape-up) {
		display: flex;
		align-items: top;
	
		> div:first-child {
			margin-right: 5vw;
		}
	}

	&:nth-child(odd) {
		.portal {
			@include for-size(tablet-landscape-up) {
				left: -40px;
			}
		}

		.line {
			@include for-size(tablet-landscape-up) {
				right: 0;
				left: auto;
			}
		}
	}

	&:nth-child(even) {
		.portal {
			@include for-size(tablet-landscape-up) {
				right: -40px;
			}
		}

		.line {
			@include for-size(tablet-landscape-up) {
				left: 0;
				right: auto;			
			}
		}
	}

	.line {
		top: 85px;

		@include for-size(tablet-landscape-up) {
			width: calc(100% - 200px - 144px);
			
			top: 55px;
		}
	}
}

.website-info {
	position: relative;

	font-size: 0.8rem;

	h2 {
		font-size: 1.8rem !important;

		margin-top: 0.4rem;
		margin-bottom: 2.4rem !important;

		.separator {
			display: none;

			@include for-size(tablet-landscape-up) {
				display: inline-block;
			}
		}

		small {
			display: block;

			@include for-size(tablet-landscape-up) {
				margin-top: auto;

				display: inline-block;
			}
		}

	}
}

.website-description {
	margin-bottom: 2rem;

	color: rgba(white, 0.75);
}

.website-footer {
	width: 100%;

	display: flex;
	align-content: space-between;
	align-items: flex-end;
}

.website-links {
	display: none;

	@include for-size(tablet-landscape-up) {
		display: inline-block;
	}

	.button {
		margin-right: 24px;
	}
}

.website-tech {
	margin-right: auto;

	h4 {			
		margin-bottom: 1rem;

		letter-spacing: 1.5px;
		color: white;
		font-size: 0.6rem;
	}

	.logos {
		display: flex;
		align-items: flex-end;

		svg {
			display: inline-block;
			
			margin-right: 12px;

			opacity: 0.8;

			transition: opacity 0.3s;

			&:hover {
				opacity: 1;
			}
		}
	}
}

/*--------------------------------------------------------------
>>> SVG Portals
--------------------------------------------------------------*/

.website-portal {
	position: absolute;
	top: -8px;
	right: 0;

	@include for-size(tablet-landscape-up) {
		position: relative;
		top: auto;
	}
}

.portal {
	width: 80px;
	height: 80px;

	position: relative;

	display: inline-block;

	user-select: none;

	cursor: pointer;

	transform-origin: 50% 50%;
	transition: transform 0.3s;

	&:hover {
		.portal-outer {
			filter: hue-rotate(-30deg);
		}

		.portal-outer-2 {
			filter: drop-shadow(0px 0px 16px rgba($portalColor, 0.6)) hue-rotate(-30deg);
		}

		.portal-inner {
			img {
				transform: scale(1.3);
			}
		}
	}

	@include for-size(tablet-landscape-up) {
		width: 400px;
		height: 400px;
	}
}

.portal-outer {
	width: 80px;
	height: 80px;

	position: absolute;

	transition: filter 0.6s;
	
	filter: hue-rotate(-30deg);

	@include for-size(tablet-landscape-up) {
		width: 400px;
		height: 400px;
	}
}

.portal-outer-1 {
	fill: rgba($portalColor, 0.1);

	animation: portalAnim1 24s linear infinite;
}

.portal-outer-2 {
	fill: rgba($portalColor, 1);

	animation: portalAnim2 18s linear infinite;

	filter: drop-shadow(0px 0px 16px rgba($portalColor, 0.6));
}

.portal-inner {
	width: 120px;
	height: 120px;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%) scale(0.48);

	clip-path: url(#portal-clip);

	opacity: 0.9;

	transition: opacity 0.3s;

	@include for-size(tablet-landscape-up) {
		width: 600px;
		height: 600px;
	}

	img {
		width: 120px;
		height: 120px;

		transform: scale(1);
		transition: transform 0.3s;

		pointer-events: none;

		@include for-size(tablet-landscape-up) {
			width: 600px;
			height: 600px;
		}
	}
}

@keyframes portalAnim1 {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes portalAnim2 {
	from {
		transform: rotate(50deg) scale(0.85);
	}

	to {
		transform: rotate(410deg) scale(0.85);
	}
}