/*--------------------------------------------------------------
>>> Websites
--------------------------------------------------------------*/

.websites {
	.section-heading {
		margin-bottom: 4rem;
	}
}

.website {
	width: 100%;

	margin-bottom: 120px;

	position: relative;

	display: block;

	@include for-size(phone-landscape-up) {
		margin-bottom: 80px !important;
	}

	@include for-size(tablet-landscape-up) {
		min-height: 400px;

		margin-bottom: 120px;

		&:nth-child(odd) {
			.website-portal {
				left: -40px;
			}

			.website-info {
				margin-left: 300px;
			}

			.website-title,
			.website-description,
			.website-footer {
				padding-left: 6rem;
			}

			.website-title {
				&:before {
					left: -81px;

					transform: rotate(-45deg);
					transform-origin: top right;
				}

				&:after {
					left: -70px;
				}
			}
		}

		&:nth-child(even) {
			.website-portal {
				right: -40px;
			}
			
			.website-info {
				margin-right: 300px;
			}

			.website-title,
			.website-description,
			.website-footer {
				padding-right: 6rem;
			}

			.website-title {				
				&:before {
					right: -81px;

					transform: rotate(45deg);
					transform-origin: top left;
				}

				&:after {
					right: -70px;
				}
			}
		}
	}
}

.website-title {
	margin: 0 110px 1.8rem 0;

	padding-bottom: 1.2rem;

	position: relative;

	border-bottom: 2px solid rgba(white, 0.1);

	@include for-size(tablet-landscape-up) {
		margin: 0 0 1.8rem 0;
		padding-bottom: 0.6rem;

		font-size: 1.8rem;
	}

	&:before,
	&:after {
		content: '';

		position: absolute;
		
		background: white;
	
		pointer-events: none;
	}

	&:before {
		width: 32px;
		height: 2px;
		
		bottom: -2px;
		right: -33px;

		transform: rotate(-45deg);
		transform-origin: bottom left;
	
		opacity: 0.1;

		@include for-size(tablet-landscape-up) {
			width: 80px;
		}
	}

	&:after {	
		width: 12px;
		height: 12px;

		bottom: 20px;
		right: -33px;

		border-radius: 999px;

		opacity: 0.2;

		@include for-size(tablet-landscape-up) {	
			width: 16px;
			height: 16px;
		
			bottom: -71px;
		}
	}

	h2 {
		display: block;

		font-size: 1.6rem;

		margin-bottom: 0;

		@include for-size(tablet-landscape-up) {
			display: inline-block;

			font-size: 1.8rem;
		}
	}

	.separator {
		display: none;

		@include for-size(tablet-landscape-up) {
			display: inline-block;
		}
	}

	small {
		display: block;

		font-size: 1rem;

		@include for-size(tablet-landscape-up) {
			top: -5px;
			position: relative;

			display: inline-block;

			font-size: 1.2rem;
		}
	}
}

.website-description {
	margin-bottom: 2rem;

	font-size: 0.8rem;
	color: rgba(white, 0.75);
}

.website-footer {
	width: 100%;

	display: flex;
	align-content: space-between;
	align-items: flex-end;
}

.website-links {
	display: none;

	@include for-size(tablet-landscape-up) {
		display: inline-block;
	}

	.button {
		margin-right: 24px;
	}
}

.website-tech {
	margin-right: auto;

	h4 {			
		margin-bottom: 1rem;

		letter-spacing: 0.07rem !important;
		color: white;
		font-size: 0.7rem;
	}

	.logos {
		display: flex;
		align-items: flex-end;

		svg {
			display: inline-block;
			
			margin-right: 12px;

			opacity: 0.9;

			transition: opacity 0.3s;
		}
	}
}

.under-construction {

	small {
		color: $textAccentUnderConstruction;
		font-size: 1rem !important;
	}

	.portal {
		&:hover {
			.portal-outer-2 {
				filter: drop-shadow(0px 0px 16px rgba($portalColorUnderConstruction, 0.6)) hue-rotate(-30deg);
			}
		}
	}

	.portal-outer-1 {
		fill: rgba($portalColorUnderConstruction, 0.1);
	}

	.portal-outer-2 {
		fill: rgba($portalColorUnderConstruction, 1);
		filter: drop-shadow(0px 0px 16px rgba($portalColorUnderConstruction, 0.6));
	}

	.portal-inner {
		
	}
}

/*--------------------------------------------------------------
>>> SVG Portals
--------------------------------------------------------------*/

.website-portal {
	position: absolute;

	top: -24px;
	right: -4px;

	@include for-size(tablet-landscape-up) {
		position: absolute;
		top: -20px;
	}
}

.portal {
	width: 120px;
	height: 120px;

	position: relative;

	display: inline-block;

	user-select: none;

	cursor: pointer;

	transform-origin: 50% 50%;
	transition: transform 0.3s;

	&:hover {
		.portal-outer {
			filter: hue-rotate(-30deg);
		}

		.portal-outer-2 {
			filter: drop-shadow(0px 0px 16px rgba($portalColor, 0.6)) hue-rotate(-30deg);
		}

		.portal-inner {
			img {
				transform: scale(1.3);
			}
		}
	}

	@include for-size(tablet-landscape-up) {
		width: 400px;
		height: 400px;
	}
}

.portal-outer {
	width: 120px;
	height: 120px;

	position: absolute;

	transition: filter 0.6s;
	
	filter: hue-rotate(-30deg);

	@include for-size(tablet-landscape-up) {
		width: 400px;
		height: 400px;
	}
}

.portal-outer-1 {
	fill: rgba($portalColor, 0.1);

	animation: portalAnim1 24s linear infinite;
}

.portal-outer-2 {
	fill: rgba($portalColor, 1);

	animation: portalAnim2 18s linear infinite;

	filter: drop-shadow(0px 0px 16px rgba($portalColor, 0.6));
}

.portal-inner {
	width: 180px;
	height: 180px;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%) scale(0.48);

	opacity: 0.9;

	transition: opacity 0.3s;

	clip-path: url(#portal-clip);

	overflow: hidden;

	@include for-size(tablet-landscape-up) {
		width: 600px;
		height: 600px;
	}

	img {
		width: 180px;
		height: 180px;

		transform: scale(1);
		transition: transform 0.3s;

		pointer-events: none;

		@include for-size(tablet-landscape-up) {
			width: 600px;
			height: 600px;
		}
	}
}

@keyframes portalAnim1 {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes portalAnim2 {
	from {
		transform: rotate(50deg) scale(0.85);
	}

	to {
		transform: rotate(410deg) scale(0.85);
	}
}