/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

body { font-family: 'Orbitron', sans-serif; font-size: 16px; background: -webkit-gradient(linear, left top, left bottom, from(#1e253f), color-stop(200vh, #3d2448)); background: -webkit-linear-gradient(#1e253f, #3d2448 200vh); background: linear-gradient(#1e253f, #3d2448 200vh); }

.svg-icon { fill: white; }

.text { color: rgba(255, 255, 255, 0.9); }

.text h1 { font-size: 2.4rem; line-height: 2.8rem; margin-bottom: 1.4rem; }

.text h1 span { color: #ff417b; text-shadow: 0px 0px 15px rgba(255, 65, 123, 0.3); }

.text h1 small { font-size: 1.8rem; }

#particles-js { height: 150vh; position: absolute; top: 0; left: 0; right: 0; z-index: -1; }

#particles-js canvas { width: 100%; height: 100%; }

main { min-height: 2000px; }

.home { height: 100vh; width: 100%; padding-top: 60px; position: relative; }

.introduction { height: 100%; width: 50%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: absolute; top: 0; left: 12%; }

.introduction .text { padding-bottom: 20vh; }

.introduction .text .button { float: right; margin-right: 34px; }

.island { position: absolute; bottom: 0; right: 8%; }

.island img, .island svg { width: 50vw; max-height: 80vh; }

.gradient-bottom { width: 100%; height: 35vh; position: absolute; bottom: 0; left: 0; right: 0; background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(35vh, #3d2448)); background: -webkit-linear-gradient(transparent, #3d2448 35vh); background: linear-gradient(transparent, #3d2448 35vh); }

header { width: 100%; height: 60px; padding: 0 24px; position: fixed; top: 0; left: 0; right: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; z-index: 1000; }

header:before { content: ''; width: 0%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.05)), to(rgba(30, 37, 63, 0.1))); background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.05), rgba(30, 37, 63, 0.1)); background: linear-gradient(to right, rgba(255, 255, 255, 0.05), rgba(30, 37, 63, 0.1)); border-bottom: 1px solid rgba(255, 255, 255, 0.1); opacity: 0; -webkit-transition: width 0.6s, opacity 1s; transition: width 0.6s, opacity 1s; z-index: -1; }

.navigation { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.navigation .button { margin-left: 8px; }

body.scrolled header:before { width: 100%; opacity: 1; }

.button { height: 36px; line-height: 36px; position: relative; }

.skewed-button { line-height: 34px; padding: 0 16px; display: inline-block; color: rgba(255, 255, 255, 0.9); font-size: 0.7rem; letter-spacing: 0.1rem; text-decoration: none; text-transform: uppercase; border: 1px solid rgba(255, 255, 255, 0.1); border-right-width: 4px; border-left-width: 4px; border-radius: 1px; -webkit-transform: skew(-22.5deg); -ms-transform: skew(-22.5deg); transform: skew(-22.5deg); -webkit-transition: color 0.3s, border 0.3s, background 0.2s, -webkit-box-shadow 0.3s; transition: color 0.3s, border 0.3s, background 0.2s, -webkit-box-shadow 0.3s; transition: color 0.3s, border 0.3s, background 0.2s, box-shadow 0.3s; transition: color 0.3s, border 0.3s, background 0.2s, box-shadow 0.3s, -webkit-box-shadow 0.3s; overflow: hidden; }

.skewed-button span { width: 100%; height: 100%; display: inline-block; -webkit-transform: skew(22.5deg); -ms-transform: skew(22.5deg); transform: skew(22.5deg); background-visibiliy: hidden; }

.skewed-button.icon-button { padding-left: 48px; }

.skewed-button.icon-button svg { position: absolute; top: 50%; left: 14px; fill: rgba(255, 255, 255, 0.8); -webkit-transform: translateY(-50%) skew(22.5deg); -ms-transform: translateY(-50%) skew(22.5deg); transform: translateY(-50%) skew(22.5deg); -webkit-transition: fill 0.2s; transition: fill 0.2s; }

.skewed-button.icon-button:hover svg { fill: #FFFFFF; }

.skewed-button.large { height: 48px; line-height: 48px; padding: 0 20px; font-size: 0.8rem; }

.skewed-button.active { color: #FFFFFF; background: rgba(255, 255, 255, 0.05); border-color: rgba(255, 255, 255, 0.15); pointer-events: none; }

.skewed-button:hover { color: #FFFFFF; background: rgba(255, 255, 255, 0.05); border-color: rgba(255, 255, 255, 0.15); -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.skewed-button:hover:before { left: 120%; }

.skewed-button:before { content: ''; height: 155px; width: 50px; position: absolute; left: -75px; top: -50px; background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#FFFFFF)); background: -webkit-linear-gradient(transparent, #FFFFFF); background: linear-gradient(transparent, #FFFFFF); opacity: 0.1; -webkit-transform: rotate(22.5deg); -ms-transform: rotate(22.5deg); transform: rotate(22.5deg); -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1); transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1); z-index: -10; }

.github-button { padding-left: 16px; padding-right: 24px; margin-right: -14px; border-right-color: transparent; }

.github-button + div { width: 3px; height: 35px; position: relative; display: inline-block; background: rgba(255, 255, 255, 0.1); }

.github-button:hover { border-right-color: transparent; }

.github-button:hover:before { left: 110%; }

.github-button:hover + div { background: rgba(255, 255, 255, 0.15); }

.github-button-container { height: 36px; position: relative; overflow: hidden; }

#floating-island { -webkit-transition: -webkit-filter 2s; transition: -webkit-filter 2s; transition: filter 2s; transition: filter 2s, -webkit-filter 2s; }

#floating-island [id^=circuit] { -webkit-transition: opacity 2s; transition: opacity 2s; }

#floating-island [id^=circuit] * { fill: white; }

#floating-island.shake { -webkit-filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.1)); filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.1)); }

@-webkit-keyframes shake { from { -webkit-transform: translate(-0.5px); transform: translate(-0.5px); }
  to { -webkit-transform: translate(0.5px); transform: translate(0.5px); } }

@keyframes shake { from { -webkit-transform: translate(-0.5px); transform: translate(-0.5px); }
  to { -webkit-transform: translate(0.5px); transform: translate(0.5px); } }

@-webkit-keyframes circuitBoard { 0% { opacity: 0; }
  50% { opacity: 0.08; }
  100% { opacity: 0; } }

@keyframes circuitBoard { 0% { opacity: 0; }
  50% { opacity: 0.08; }
  100% { opacity: 0; } }

#inside-house * { -webkit-animation: insideHouse 6s infinite linear; animation: insideHouse 6s infinite linear; }

@-webkit-keyframes insideHouse { 0% { fill: #091122; }
  5% { fill: #1b0c25; }
  10% { fill: #091122; } }

@keyframes insideHouse { 0% { fill: #091122; }
  5% { fill: #1b0c25; }
  10% { fill: #091122; } }

#waterfall #foam [id^=foam] { -webkit-animation-name: foam1; animation-name: foam1; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-duration: 0.8s; animation-duration: 0.8s; }

#waterfall #foam2, #waterfall #foam5, #waterfall #foam8, #waterfall #foam11 { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }

#waterfall #foam3, #waterfall #foam6, #waterfall #foam9, #waterfall #foam12 { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }

#waterfall #foam1 { -webkit-transform-origin: 77% 44%; -ms-transform-origin: 77% 44%; transform-origin: 77% 44%; }

#waterfall #foam2 { -webkit-transform-origin: 77.5% 44%; -ms-transform-origin: 77.5% 44%; transform-origin: 77.5% 44%; }

#waterfall #foam3 { -webkit-transform-origin: 78% 44%; -ms-transform-origin: 78% 44%; transform-origin: 78% 44%; }

#waterfall #foam4 { -webkit-transform-origin: 78.5% 44%; -ms-transform-origin: 78.5% 44%; transform-origin: 78.5% 44%; }

#waterfall #foam5 { -webkit-transform-origin: 79% 44%; -ms-transform-origin: 79% 44%; transform-origin: 79% 44%; }

#waterfall #foam6 { -webkit-transform-origin: 79.5% 44%; -ms-transform-origin: 79.5% 44%; transform-origin: 79.5% 44%; }

#waterfall #foam7 { -webkit-transform-origin: 80% 44%; -ms-transform-origin: 80% 44%; transform-origin: 80% 44%; }

#waterfall #foam8 { -webkit-transform-origin: 80.5% 44%; -ms-transform-origin: 80.5% 44%; transform-origin: 80.5% 44%; }

#waterfall #foam9 { -webkit-transform-origin: 81% 44%; -ms-transform-origin: 81% 44%; transform-origin: 81% 44%; }

#waterfall #foam10 { -webkit-transform-origin: 82.5% 44%; -ms-transform-origin: 82.5% 44%; transform-origin: 82.5% 44%; }

#waterfall #foam11 { -webkit-transform-origin: 83% 44%; -ms-transform-origin: 83% 44%; transform-origin: 83% 44%; }

#waterfall #foam12 { -webkit-transform-origin: 85.5% 44%; -ms-transform-origin: 85.5% 44%; transform-origin: 85.5% 44%; }

#waterfall #stream-block_1_ { -webkit-animation-name: streamblock; animation-name: streamblock; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-duration: 3s; animation-duration: 3s; -webkit-animation-delay: 0.2s; animation-delay: 0.2s; -webkit-transform-origin: 0 460px; -ms-transform-origin: 0 460px; transform-origin: 0 460px; }

#waterfall #stream1_1_ { -webkit-animation: waterfall1 3s infinite; animation: waterfall1 3s infinite; }

#waterfall #stream2_1_ { -webkit-animation: waterfall2 3s infinite; animation: waterfall2 3s infinite; -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }

#waterfall #stream3_1_ { -webkit-animation: waterfall2 3s infinite; animation: waterfall2 3s infinite; -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }

#waterfall #stream4_1_ { -webkit-animation: waterfall1 3s infinite; animation: waterfall1 3s infinite; -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }

#waterfall #water1_1_ { -webkit-animation: water1 3s infinite; animation: water1 3s infinite; -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }

#waterfall #water2_1_ { -webkit-animation: water1 3s infinite; animation: water1 3s infinite; -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }

#waterfall #water3_1_ { -webkit-animation: water1 3s infinite; animation: water1 3s infinite; -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }

@-webkit-keyframes foam1 { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes foam1 { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

@-webkit-keyframes streamblock { 0% { -webkit-transform: scaleY(1); transform: scaleY(1); }
  50% { -webkit-transform: scaleY(1.4); transform: scaleY(1.4); }
  100% { -webkit-transform: scaleY(1); transform: scaleY(1); } }

@keyframes streamblock { 0% { -webkit-transform: scaleY(1); transform: scaleY(1); }
  50% { -webkit-transform: scaleY(1.4); transform: scaleY(1.4); }
  100% { -webkit-transform: scaleY(1); transform: scaleY(1); } }

@-webkit-keyframes waterfall1 { 0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  50% { -webkit-transform: translateY(70px); transform: translateY(70px); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); } }

@keyframes waterfall1 { 0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  50% { -webkit-transform: translateY(70px); transform: translateY(70px); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); } }

@-webkit-keyframes waterfall2 { 0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  50% { -webkit-transform: translateY(50px); transform: translateY(50px); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); } }

@keyframes waterfall2 { 0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  50% { -webkit-transform: translateY(50px); transform: translateY(50px); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); } }

@-webkit-keyframes water1 { 0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  50% { -webkit-transform: translateY(25px); transform: translateY(25px); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); } }

@keyframes water1 { 0% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  50% { -webkit-transform: translateY(25px); transform: translateY(25px); }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); } }
